<div class="mycontainer">
  <header class="header">
    <img src="/images/Angular_logo.png">
    <h1>Coforge Limited</h1>
  </header>

  <nav class="mynav">
    <ul>
      <li><a routerLink="/"> Home</a></li>
      <li><a routerLink="/emp">Employees</a></li>
      <li><a routerLink="/pipes">Pipes</a></li>

      <!--Contact dropdown menu-->
      <li class ="dropdown">
        <span>Forms</span>
        <ul class="dropdown-menu">
          <li><a routerLink= "/contact">Template form</a> </li>
          <li><a routerLink="/trainee">Two way Data Binding</a></li>
          <li><a routerLink = "/auth">Reactive Forms</a></li>
        </ul>
      </li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink = "/login">Login</a></li>
      <li><a routerLink = "/team">Team</a></li>
      <li><a routerLink = "/parent">Communication</a></li>
      
    </ul>
  </nav>

  <main class="main-content">
    <!-- The routed Views render in the <router-outlet>-->
    <!-- Displays child components - SPA-->
   <router-outlet></router-outlet>
  </main>

  <footer class="myfooter">
    <p>&copy; 2024 Coforge Ltd.</p>
  </footer>
</div>